<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top"
      src="https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.melomanodigital.com%2Fclasico-troya%2F&psig=AOvVaw1LgrI0QMXBtdUgC8Bq8JzT&ust=1630027156486000&source=images&cd=vfe&ved=0CAsQjRxqFwoTCLCY8b_CzfICFQAAAAAdAAAAABAP"
      alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title"><%= @movie.title %></h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
        content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>